[run]
source = aide_predict

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if __name__ == .__main__.:
    raise NotImplementedError
    pass
    except ImportError:
    def _transform
    def _fit
    def _partial_fit

omit =
    aide_predict/bespoke_models/predictors/esm2.py
    aide_predict/bespoke_models/predictors/msa_transformer.py
    aide_predict/bespoke_models/predictors/vespa.py
    aide_predict/bespoke_models/predictors/eve.py

    aide_predict/bespoke_models/embedders/esm2.py
    aide_predict/bespoke_models/embedders/msa_transformer.py
    aide_predict/bespoke_models/embedders/saprot.py
    aide_predict/bespoke_models/predictors/saprot.py

    aide_predict/utils/badass.py
    aide_predict/utils/soloseq.py
    aide_predict/utils/mmseqs_msa_search.py
